.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

ion-button {
    width: 250px;
}

.take_snap {
    margin-top: 40px;
}